html, body{
    max-width: 100%;
    overflow-x: hidden;
}

.navbar-personal{
    background: #ba181b;
}

.separador{    
    margin: 0px;
    border: 2px solid;
    color: var(--hr-color);
    opacity: 1;
}

.nav-link{
    font-size: 20px;
}

.card-title{
    color: #dc2f02;
    font-size: 23px;
}

.card-text{
    font-size: 18px;
    color: #000;
}

.titulopregunta{
    font-size: 18px;
    color: #000;
}
